[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
findclone-api = "*"
yarl = "*"
fastapi = "*"
uvicorn = "*"
aiofiles = "*"
itsdangerous = "*"
graphene = "*"
python-dotenv = "*"
api-client = "*"
python-multipart = "*"
pandas = "*"
requests = "*"
numpy = "*"
face-recognition = "*"
matplotlib = "*"
seaborn = "*"
jupyterlab = "*"
vk-api = "*"
"ufal.udpipe" = "*"
wget = "*"
simple-elmo = "*"
tensorflow = "*"
sklearn = "*"
lightgbm = "*"
stop-words = "*"

[requires]
python_version = "3.9"
