[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
findclone-api = "*"
yarl = "*"
fastapi = "*"
uvicorn = "*"
aiofiles = "*"
itsdangerous = "*"
graphene = "*"
python-dotenv = "*"
api-client = "*"
python-multipart = "*"

[requires]
python_version = "3.9"
